.images{
    display: inline-block;
    padding: 10px;
    left: 0;
}

.userimage{
    border-radius: 25px;
    width: 25px;
    height: 25px;
    right: 10px;
}

.noimage{
    border-radius: 25px;
    width: 35px;
    height: 35px;
    right: 10px;
    background-color: blue;
    color: white;
}